---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section class="container mx-auto py-16">
    <h2 class="text-3xl font-bold mb-4">About</h2>
    <p>Información sobre la plataforma, contacto y más detalles.</p>
  </section>
</MainLayout>