---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section class="container mx-auto py-16">
    <h2 class="text-3xl font-bold mb-4">Gestión de Claves</h2>
    <p>Herramienta para gestionar tus contraseñas.</p>
  </section>
</MainLayout>
